html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
iframe {
  border: none;
}
#main {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.entity {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  box-sizing: border-box;
  will-change: transform;
}
.debug-entity {
  color: white;
  font-family: monospace;
  font-size: 14px;
  line-height: 1;
  overflow: hidden;
  white-space: pre;
}
.hitbox {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  will-change: transform, width, height;
}
